.center
  h2
    | Edit 
    = resource_name.to_s.humanize
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :full_name
      br
      = f.text_field :full_name, autofocus: true
    .field
      = f.label :name
      br
      = f.text_field :name, autofocus: true
    .field
      = f.label :"ウェブサイト"
      br
      = f.text_field :url, autofocus: true
    .field
      = f.label :"自己紹介"
      br
      = f.text_area :introduce, autofocus: true
    .field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      div
        | Currently waiting confirmation for: 
        = resource.unconfirmed_email
    .field
      = f.label :"電話番号"
      br
      = f.number_field :tel, autofocus: true
    .field
      = f.label :"性別"
      br
      = f.text_field :sex, autofocus: true
    .actions
      = f.submit "Update"
  h3
    | Cancel my account
  p
    | Unhappy? 
    = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
  = link_to "Back", :back
