.center
  h2
    | Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :full_name
      br
      = f.text_field :full_name, autofocus: true
    .field
      = f.label :name
      br
      = f.text_field :name, autofocus: true
    .field
      = f.label :email
      br
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
      br
      = f.password_field :password, autocomplete: "new-password"
    .field
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"
