- comments.each do |comment|
  - unless comment.id.nil?
    ul
      li.list-inline-item
        = link_to "#{comment.user.name}", user_path(comment.user.id)
      li.list-inline-item
        | コメント：
        = comment.content
      - if comment.user == current_user
        li.list-inline-item
          = link_to '削除', micropost_comment_path(comment.micropost_id, comment.id), method: :delete, remote: true
