- visitor = notification.visitor
- visited = notification.visited
= link_to visitor.name, user_path(visitor)
| さんが 
- case notification.action

- when 'like' then
  = link_to "あなたの投稿", notification.micropost
  p
    | にいいねしました
- when 'follow' then
  p
    | あなたをフォローしました
- when 'comment' then
  = link_to "あなたの投稿", notification.micropost
  p
    | にコメントしました
- else
  p
    | 通知はありません
hr
