div
  span.like
    - if micropost.iine?(current_user)
      = link_to "いーね解除", micropost_likes_path(micropost_id: micropost.id), class: "btn btn-xs btn-default", method: :delete
    - else
      = link_to "いーね", micropost_likes_path(micropost_id: micropost.id), class: "btn btn-xs btn-primary", method: :post
