- provide(:title, @title)
.row
  aside.col-md-2
    section.user_info
      h1
        = gravatar_for @user
        = @user.name
      h2
        | 自己紹介
      p
        = @user.introduce
      p
        = link_to "プロフィール詳細", prof_detail_user_path(@user)
      - if @user == current_user
        p
          = link_to "プロフィール編集", edit_user_registration_path
    section.stats
      = render 'shared/stats'
  .col-md-10
    = render 'follow_form' if user_signed_in?
    - if @user.microposts.any?
      h3
        | Microposts (
        = @user.microposts.count
        | )
      .microposts
        = render 'microposts/micropost'
      = will_paginate @microposts
