- provide(:title, @title)
.row
  aside.col-md-4
    section.user_info
      h1

      p
        = @user.name
    section.stats
      = render 'shared/stats'
  .col-md-8
    h3
      = @title
    - if @users.any?
      ul.users.follow
        = render @users
      = will_paginate
