- @feed_items.each do |feed_item|
  .col-md-4
    = link_to image_tag(feed_item.picture.url), feed_item
    p
      = render "likes/like", micropost: feed_item
      = time_ago_in_words(feed_item.created_at)
= will_paginate @feed_items
