- provide(:title, @title)
.center.jumbotron
  h1
    | Welcome to the INNSUTAGURAMU
  = link_to "新規sfdfaoooooooooooooooooお", new_user_registration_path, class: "btn btn-lg btn-primary"
  = link_to "ロあああああああyyyyン", new_user_session_path, class: "btn btn-lg btn-primary"
  = link_to "Facebええええええええン", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary"
div
  h3
    = link_to "利sdgsgsdg約", home_policy_path
