.center
  h2
    | Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, 'メールアドレス'
      br
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password, 'パスワード'
      br
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in"
  = render "devise/shared/links"
