- @microposts.each do |micropost|
  .col-md-4
    = link_to image_tag(micropost.picture.url), micropost
    = render 'likes/like', micropost: micropost
    = time_ago_in_words(micropost.created_at)
= will_paginate @microposts
