- provide(:title, @title)
= form_for @micropost do |f|
  p
    = f.label :picture,"画像"
    = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
  p
    = f.label :body,"コメント"
    = f.text_field :body
  = f.submit
