- provide(:title, @title)
.row
  aside.col-md-4
    section
      p
        span
          | ユーザー
        = @user.name
      p
        span
          | dfsdfsdfsd
        = image_tag @micropost.picture.url
      = render "likes/like", micropost: @micropost
      = time_ago_in_words(@micropost.created_at)
      p
        span
          | ああああああ：
        = @micropost.body
  .col-md-8
    h4
      | コメント
    #comments_area
      = render partial: 'comments/index', locals: { comments: @comments }
    - if user_signed_in?
      = render partial: 'comments/form', locals: { comment: @comment, micropost: @micropost }
