header.navbar.navbar-fixed-top.navbar-inverse
  .container
    - if user_signed_in?
      = link_to "INNSUTAGURAMU", microposts_path, id: "logo"
    - else
      = link_to "INNSUTAGURAMU", root_path, id: "logo"
    nav.nav.navbar-nav.navbar-right
      - if user_signed_in?
        li
          = render 'users/search_form'
        li
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        li
          = link_to "マイページ", user_path(current_user.id)
        li
          = link_to "タイムライン", microposts_path
        li
          = link_to "通知一覧", notifications_path
        li
          = link_to "ユーザー一覧", users_path
      - else
        li
          = link_to "新規登録", new_user_registration_path
        li
          = link_to "ログイン", new_user_session_path
